<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89251823040-okn0k3k9n4j5a0a5lacef55e7qh804gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89251823040-okn0k3k9n4j5a0a5lacef55e7qh804gv</string>
	<key>API_KEY</key>
	<string>AIzaSyBobTBUxfcSLf7pX1N9c0z3qlqtK3tpjSE</string>
	<key>GCM_SENDER_ID</key>
	<string>89251823040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.jgchoi.ezshopUser</string>
	<key>PROJECT_ID</key>
	<string>hackvalley-5be01</string>
	<key>STORAGE_BUCKET</key>
	<string>hackvalley-5be01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:89251823040:ios:cf467df61c13d17f</string>
	<key>DATABASE_URL</key>
	<string>https://hackvalley-5be01.firebaseio.com</string>
</dict>
</plist>